name: SAST
permissions:
  contents: read

on:
  push

jobs:
  semgrep:
    name: Scan Semgrep
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep:1.21
    # Skip any PR created by dependabot to avoid permission issues
    if: (github.actor != 'dependabot[bot]')
    steps:
      # Fetch project source
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - run: semgrep ci
        env:
          # Semgrep Rules
          # https://github.com/returntocorp/semgrep-rules
          SEMGREP_RULES: >-
            p/security-audit
            p/secrets
  gitleaks:
    name: Scan gitLeaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7         #v2.3.9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          #GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE}} # Only required for Organizations, not personal accounts.
